body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-image: url(locker.png);
    background-size: cover;
    background-color: black;
    background-position-x: 600px;
    background-repeat: no-repeat;
}


#sign_up_box{
    top: 80px;
    left: 50px;
    float: left;
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 700px;
    background: #fff;
    box-shadow: 0 2px 4px green;
    border-radius: 20px;
}

.left_box{
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 370px;
    height: 400px;
    background-color: white
    
}

h1{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],input[type="password"],
input[type="email"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    
}

input[type="submit"]{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 10px;
    color: indigo;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #ff5722;
    transition: 0.2s ease;
    box-shadow:0px 2px 3px .1px black
}

.right_box{
    position: absolute;
    border-radius:0px 20px 20px 0px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 330px;
    height: 400px;
    background-image: url(signup.jpg);
    background-size: cover;
    background-position: center;
}

.or{
    position: absolute;
    top: 180px;
    left: 350px;
    width: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}

.right_box .sign_up_with{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    margin: 5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

button.social{
    margin-top: 50px;
    margin-left: 20px; 
    width: 220px;
    height: 36px;
    border: none;
    border-radius:10px;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2 ease;
    cursor: pointer;
    color: white;

}

#home_arrow{
    text-decoration: none;
}
#home_button{
 background: goldenrod;
 color: black;
 float: left;
 margin-left: 20px;
 margin-top: 30px;
 border-radius: 50px;
 width: 100px;
 height: 36px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 500;  
 font-size: 20px;
 outline: none;
}

#home_button:hover{
    box-shadow: 0px 2px 3px .1px red;
    background: gold;
}


.facebook{
    background: #32508e;

}

.facebook:hover{
    box-shadow: 0px 2px 3px .1px black;
}

.google{
    background: #dd4b37;
}

.google:hover{
    box-shadow: 0px 2px 3px .1px black;
}
